html {
  background: black;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.gradient-bg {
  background-image: linear-gradient(
    180deg,
    rgba(132, 144, 251, 0.29) 0%,
    rgba(43, 27, 220, 0.29) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.39);
}

.box-transparent {
  color: black;
}

input[type="range"] {
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  border: 1px solid black;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -11.4px;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  background-color: rgb(156, 156, 156);
  height: 3.4px;
}
